/* root */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* navbar */
#navbar {
  position: fixed;
  width: 100%;
  top: 0;
}
.nav-link,
.navbar-brand img {
  cursor: pointer;
}
/* musician */
.col p {
  text-align: justify;
}
